body {
    font-family: 'Roboto' sans-serif;
}

.container {
    padding: 0 160px;
    height: 100vh;
    background-image: url('./img/background\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    height: 47px;
    width: 160px;
    background-image: url(./img/Logo.png);
    background-repeat: no-repeat;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.header__contacts a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.card__wrapper {
    padding: 50px 0;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s;
}

.header__logo:hover {
    transition: 0.5s;
    background-image: url(./img/Logo-hover.png);
}

.header__contacts a:hover {
    transition: 0.5s;
    color: #F26522;

}

.card:hover p {
    transition: 0.5s;
    color: #F26522;
}

.card::after {
    content: "";
    width: 300px;
    height: 220px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}

.card:hover::after {
    opacity: 1;
    transition: all 0.5s;
}


.card p {
    color: white;
}

.card img {
    position: relative;
    width: 300px;
    height: 220px;
}

footer {
    color: white;
    text-align: center;
}